@import "tailwindcss";


@theme {
  --color-primary: #6C8CC7;
  --color-primary-bold: #456BB0;

  --color-secondary: #D2AB67;
  --color-secondary-bold: #B68E45;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
