@import "tailwindcss";


@theme {
  --color-primary: #456BB0;
  --color-primary-bold: #2F4F8C;

  --color-secondary: #B68E45;
  --color-secondary-bold: #8C6A2F;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
